// app global css

.q-list {
  border: none;
}

.modal-content,
.q-modal-layout {
  padding: 2%;
  background-color: white;
  height: 500px;
  overflow: hidden;
}

.project-list {
    border: none;

    .titulo {
        font-size: 1em;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
    .textdescr {
        text-align: justify;
        padding: 10px;
        font-size: 0.75em;
        color: white;
    }

}

.ecard {
    object-fit: cover;
    border-radius: 1em;
    width: 200px;
    height: 150px;
    background-color: orangered;
    color: white;
}

.btn-add {
  margin: 8px;
}